{{>layout/header}}

<div class="row">
    <div class="col-md-12">
        <form method="get">
            <div class="form-row align-items-center">
                <div class="col-auto">
                    <div class="input-group mb-2">
                        <input type="text" class="form-control" id="filter-process-instance-key" name="processInstanceKey" placeholder="process instance key" style="width: 15em">
                    </div>
                </div>
                <div class="col-auto">
                    <div class="input-group mb-2">
                        <input type="text" class="form-control" id="filter-state-type" name="stateType" placeholder="state type" style="width: 15em">
                    </div>
                </div>
                <div class="col-auto">
                    <div class="input-group mb-2">
                        <input type="text" class="form-control" id="filter-created-after" name="createdAfter" placeholder="created after" style="width: 15em">
                        <div class="btn-group dropleft">
                            <button id="dropdownMenuButton" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg class="bi" width="12" height="12" fill="silver"><use xlink:href="/img/bootstrap-icons.svg#clock-history"/></svg>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" id="last-7-days" href="#">last 7 days</a>
                                <a class="dropdown-item" id="last-24-hours" href="#">last 24 hours</a>
                                <a class="dropdown-item" id="last-12-hours" href="#">last 12 hours</a>
                                <a class="dropdown-item" id="last-6-hours" href="#">last 6 hours</a>
                                <a class="dropdown-item" id="last-1-hour" href="#">last 1 hour</a>
                                <a class="dropdown-item" id="last-10-minutes" href="#">last 10 minutes</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="input-group mb-2">
                        <input type="text" class="form-control" id="filter-created-before" name="createdBefore" placeholder="created before" style="width: 15em">
                    </div>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-2"><svg class="bi" width="12" height="12" fill="silver"><use xlink:href="/img/bootstrap-icons.svg#funnel"/></svg> Filter</button>
                </div>
            </div>
        </form>
    </div>
</div>



<div class="row">
    <div class="col-md-12">

        <span>{{count}} instances</span>

        <table class="table table-striped">
            <thead>
            <th>Process Instance Key</th>
            <th>BPMN process id</th>
            <th>Process Definition Key</th>
            <th>State</th>
            <th>Start Time
                <a id="instance-start-time" href="#" class="badge badge-secondary" data-toggle="tooltip" data-placement="top"
                   title="Sort by Start Time">
                </a>
            </th>
            </thead>

            {{#instances}}
            <tr>
                <td>
                    <a href="{{context-path}}views/instances/{{processInstanceKey}}">{{processInstanceKey}}</a>
                </td>
                <td>{{bpmnProcessId}}</td>
                <td>
                    <a href="{{context-path}}views/processes/{{processDefinitionKey}}">{{processDefinitionKey}}</a>
                </td>
                <td>{{state}}</td>
                <td>{{startTime}}</td>
            </tr>
            {{/instances}}

        </table>

        {{>components/table-pagination}}

        <script type="application/javascript">
            document.addEventListener('DOMContentLoaded', function(){
                listSort('start','instance-start-time')
            }, false);
            document.addEventListener('DOMContentLoaded', function() {
                bindQueryParamToElement("filter-process-instance-key", "processInstanceKey");
                bindQueryParamToElement("filter-created-after", "createdAfter");
                bindQueryParamToElement("filter-created-before", "createdBefore");
                bindQueryParamToElement("filter-state-type", "stateType");
            }, false);
            document.addEventListener('DOMContentLoaded', function() {
                function createLastTimeHandler(timeDiff) {
                    return function() {
                        'use strict';
                        let past = new Date().getTime() - timeDiff;
                        let newVal = new Date(past).toISOString();
                        document.getElementById("filter-created-after").setAttribute("value", newVal);
                    }
                }
                $("#last-7-days").click(createLastTimeHandler(1000*60*60*24*7));
                $("#last-24-hours").click(createLastTimeHandler(1000*60*60*24));
                $("#last-12-hours").click(createLastTimeHandler(1000*60*60*12));
                $("#last-6-hours").click(createLastTimeHandler(1000*60*60*6));
                $("#last-1-hour").click(createLastTimeHandler(1000*60*60));
                $("#last-10-minutes").click(createLastTimeHandler(1000*60*10));
            }, false);
        </script>

    </div>
</div>

{{>layout/footer}}
